.content {
  width: 50%;
}

form textarea {
  width: 100%;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0px 0px 54px -30px rgba(0,0,0,0.45);
  padding: 15px;
  line-height: 1.5em;
  font-family: 'Montserrat', sans-serif;
  transition: .2s linear;
  &:active, &:hover {
    box-shadow: 0px 0px 54px -30px rgba(0,0,0,0.75);
  }
}
// textarea {
  
// }

// .result {

// }

.resultSmall {
  font-size: small;
  text-align: end;
}

